[2017-07-25 21:25] RblSb opened #1 "Wrong human type"
﻿﻿(on the site)
![default](https://user-images.githubusercontent.com/8753432/28594446-a659231c-7198-11e7-88d1-c03fa14e715e.png)
PS Really nice game!

[2017-07-25 21:29] ncase commented on #1
Thanks! Also, fixed now: https://github.com/ncase/trust/commit/c6980fe13f0a6c6fac8e41de49b2e47beeb81c0c

[2017-07-25 21:29] #1 closed, assigned to nobody

[2017-07-26 21:24] alanz opened #2 "Suggestion"
This is a great presentation.

One thing that is a little awkward though, is the introduction of new strategies. A new player type is introduced, and the strategy is explained. You then get to run some scenarios with that player and others, and it gets to a result.  At that point you cannot see what the strategies are of the surviving players, and there is not always an easy way to recap the strat

[2017-07-27 14:41] jannone opened #5 "Translations"
I'd like to contribute with a translation, but I'm not sure how.

Could you give me some pointers?
Thanks

[2017-07-27 14:58] gerardolm commented on #5
Same here, I could translate this to Spanish :)

[2017-07-27 16:51] ncase commented on #2
Done and done! Thank you for recommending this feature!
https://github.com/ncase/trust/commit/ed3c268c32c36a060a110d9810e34b204cd13df5

<img width="870" alt="screen shot 2017-07-27 at 12 45 15" src="https://user-images.githubusercontent.com/825858/28682274-3e0ca4c2-72ca-11e7-8799-b28b980117eb.png">

[2017-07-27 16:51] #2 closed, assigned to nobody

[2017-07-27 19:55] raulsebastianmihaila opened #6 "Score 0 for cooperator with grudger and copycat."
My understanding is that a grudger and a copycat would always give money to a cooperator. But in this example ![bug](https://user-images.githubusercontent.com/5671355/28689439-5071c9a4-731e-11e7-9559-b1fbaf67a257.jpg) (with regular payoffs), in the second round, the cooperators end up with 0 money.

[2017-07-28 00:09] Feracitus commented on #5
I'd like to make myself available to translate this into portuguese.
feracitus@hotmail.com

[2017-07-28 02:48] toby3d commented on #5
I translate to Russian. :3
https://github.com/NotDotTeam/trust

[2017-07-28 12:33] osaatcioglu commented on #5
Same here. I would like to translate it to Turkish.

Also, I checked the code and it looks like words.html consists almost all the texts except the credits and may be some others. But, I couldn't make sure how the language selector works. I can contribute on creating a language selector in the UI as well.

This is very insightful and it should be shared more. Thanks.

[2017-07-28 13:18] burbilog commented on #5
Yes, translation support is needed!

[2017-07-28 15:06] Proxiweb commented on #5
I can translate to french

[2017-07-28 15:34] jonathancross commented on #6
Good question.  I get the same results.
Are each player's actions based on the interactions with an _individual_ or the group?
It seems the _Grudger_ is no longer trusting the _Cooperators_ based on the actions of _Cheaters_.  Is that correct?

[2017-07-28 15:42] KrzysztofMadejski commented on #5
All the texts are in the words.html file. Just fork this project and translate https://github.com/ncase/trust/blob/gh-pages/words.html. If author will introduce language picker it will be easy to pull-in.

PS. I'm close to find translators for Polish.

[2017-07-28 17:40] Vanuan opened #9 "50% of miscommunication"
At the slide with configurable level of miscommunication, when you change it to 50% "all cheat" eventually wins if you give it more time.

[2017-07-28 18:32] toby3d opened #10 "Cyrillic fonts"
![image](https://user-images.githubusercontent.com/5412322/28731263-b18cddfe-73ec-11e7-8c2e-b3ec10580c06.png)
Having started work on translating into Russian, I encountered a not very pleasant appearance of the Cyrillic alphabet. Perhaps it's worth using a font [like this](https://fonts.google.com/selection?selection.family=Pangolin)?
![image](https://user-images.githubusercontent.com/5412322/2873

[2017-07-28 20:22] KrzysztofMadejski commented on #5
1. Fork the repo by clicking `Fork` in the top right corner
2. Translate the `words.html` file by going to this url `https://github.com/<account>/trust/edit/gh-pages/words.html` (change `<account>` string to your username or organization name - where you forked the repo to)
3. Go to `https://<acount>.github.io/trust/` to see the effect live! Remeber to add the last slash after "trust", otherwise i

[2017-07-28 20:29] ncase commented on #5
Hi all! This is really great to see, that people are working on translations even before I could fully set up a translation system!

Originally I wanted to do something fancy where people could push translations without needing to make a new repo, but it turns out my code is completely not set up for that at all.

But yeah, basically: what @KrzysztofMadejski said! (Actually, there's one more thing

[2017-07-29 00:35] jonathancross commented on #5
Hey, everyone.
Seems there is a lot of us excited about this today  :-)
I did a bit of experimentation to see if I could get translations working too:
* https://jonathancross.github.io/de/ (just machine translation for now)
* https://jonathancross.github.io/en/

I use Jekyll to reduce html duplication (no Javascript changes), yet this allows easy translation of strings in `index.html` and the rest

[2017-07-29 01:54] ncase commented on #5
![image](https://user-images.githubusercontent.com/825858/28741187-f6ef8f9e-73de-11e7-82b0-eebf50f54180.png)

*I've put up a really rough step-by-step translation guide!*
https://github.com/ncase/trust#how-to-translate-this-thang

I also added a comments in `index.html` and `words.html` to help you figure out what to translate and how! There's some weird rules about what to and what not to transla

[2017-07-29 06:20] mr-nano opened #12 "Unable to clone the repo"
Hey,

On trying to clone the repo with,
$ git clone https://github.com/ncase/trust.git

I receive a warning, as follows:
Cloning into 'trust'...
remote: Counting objects: 856, done.
remote: Compressing objects: 100% (21/21), done.
remote: Total 856 (delta 9), reused 14 (delta 6), pack-reused 829
Receiving objects: 100% (856/856), 7.19 MiB | 441.00 KiB/s, done.
Resolving deltas: 100% (427/427), don

[2017-07-29 09:18] passcod commented on #12
This is [expected git behaviour](https://public-inbox.org/git/CACQm2Y1QtKD3M6weNhGrAQSLV8hLF4pKcpHDD7iUc78aWrt6Cw@mail.gmail.com/T/#u), and a result of this repo not having a `master` branch. Simply `cd` to the folder, and run `git checkout gh-pages`.

[2017-07-29 09:39] toby3d commented on #10
In addition, the font used as a replacement is not scaled on small screens. As a result, the paragraphs merge and overlap with the buttons.
![image](https://user-images.githubusercontent.com/5412322/28743778-b1e97c9c-746b-11e7-8cb2-a3eb465ab271.png)

[2017-07-29 10:44] KrzysztofMadejski commented on #5
@jonathancross it's a cool idea to use Jekyll.

Pros:
- deduplication of same strings
- simpler file for translators

Cons:
- it's no more static site, Jekyll has to be invoked if site is being hosted outside of Jekyll-supported container (ie. outside of Github Pages).

--

@ncase do you plan to add language chooser on the main page? Will you link to other repos or host all translations here?

[2017-07-29 10:55] coppolaemilio commented on #5
@KrzysztofMadejski I think that having a language selector on the main page is a **must** because I already see my social media walls full of links to the original one. I personally know a lot of people that would not be able to enjoy it because they don't speak English. Without a language selector they would need to know the specific url and it would mean that less people is going to be able to e

[2017-07-29 10:56] rafales opened #13 "Grudger wins instead of the copycat"
in this step copycat was supposed to win but it didn't:

<img width="1012" alt="screenshot 2017-07-29 12 35 37" src="https://user-images.githubusercontent.com/919812/28744274-511cb6e4-745d-11e7-9885-d92dc5797be3.png">

[2017-07-29 10:58] rafales commented on #9
It was the opposite for me (copycat won).

[2017-07-29 12:01] mr-nano commented on #12
Thanks!

Any reason in particular why the branch is not called master by default in this repo?

[2017-07-29 12:12] brunolemos commented on #5
@ncase loved what you built, congrats!

Just translated to Portuguese (Brazil):

Link: https://brunolemos.github.io/trust/
Repo: https://github.com/brunolemos/trust

Edits are welcome cc @Feracitus
Thanks!

[2017-07-29 13:52] ncase commented on #12
The branch is called `gh-pages` because that's what Github needs to automatically turn it into a webpage!

And I didn't add a second, backup `master` branch because, uh, I'm lazy and do not have good git practices

[2017-07-29 16:12] qgustavor commented on #9
I ran it some times and [almost everyone won](https://i.imgur.com/AP1SPnL.png). Seems that instead of "At 50%, nobody wins ever." the correct is "At 50%, anyone can win."

[2017-07-29 18:34] jonathancross commented on #5
@KrzysztofMadejski Yes, agree with your assessment generally. If @ncase is okay with the static / jekyll tradeoff (which solves https://github.com/ncase/trust/pull/11#issuecomment-318796689 and is better for SEO / localization). We can also add nice things like compiling all JS into one file, etc.

@coppolaemilio  I'd recommend that the first translations be made and accessible via unique URL, the

[2017-07-30 00:01] Vanuan commented on #9
Yeah, that seems more likely. It says at 50% chance "every move is a coin flip". But then it says "nobody wins ever". That's what confused me.

[2017-07-30 05:50] thaupc commented on #10
As of my case, i just changed the font-face in css file, and use a unicode font instead.

[2017-07-30 13:53] ncase commented on #5
@brunolemos: Awesome, thank you so so much! :D I'll link to it from the main site later. (Also, a few other people also emailed me offering to translate to PT-BR, I let them know about your version & mentioned the footnotes are yet un-translated, they could try translating those. So, expect some pull requests on your repo later!)

[2017-07-30 14:21] Saul-BT opened #16 "Translation to Spanish"
Hello, I love this game, the idea is awesome, it is well crafted and very well thought out.
I would like to propose a translation into Spanish so that it reaches more people, and the translation could do it myself (I am from Spain).
My email is alu15067@iesgalileo.es

[2017-07-30 14:32] ncase commented on #16
Thank you so much for the offer @Saul-BT! I recently pushed up the instructions for translating EvoTrust: https://github.com/ncase/trust#how-to-translate-this-thang

Also @jonathancross & others are working on a better translation system, maybe give that a try? See: https://github.com/ncase/trust/issues/5

[2017-07-30 16:21] Minoru opened #17 "Allow for more than 1 form of plurals"
The game currently [assumes](https://github.com/ncase/trust/blob/1cee99ea9800cc7f1084ff50efddcc527f83107a/words.html#L867-L868) that a word can be either in a singular or plural form, but in reality it just isn't so in some languages. For example, Russian uses the same word with counts 1, 11 and 121, another with 2 and 3, and yet another with 5. See [this oldish article](https://doc.qt.io/archives

[2017-08-01 06:58] MattBow commented on #5
There is a Chinese version: https://github.com/DCCXI/trust-zh-CN and he or she has made a website to run the game(http://sekai.co/trust/). He or she is new to use git/github, therefore the branch name is not as required, but I think our forum will do the help. Lastly, awesome idea and interactive game, thank you very much!

[2017-08-01 14:56] PierreMarieRiviere opened #18 "Translation to French"
have you had it translated to French yet?

[2017-08-01 17:46] jkoelling commented on #5
@jonathancross I'd be happy to help with the German translation if needed. Is anyone else already working on it?

Update 1: I started on the German translation: https://github.com/jkoelling/trust
Let me know if you want to help or already have something yourself.

Update 2: I finished translating the game (`words.html` and `index.html`). Now I only have to check for errors and inconsistencies.

Up

[2017-08-01 18:43] jkoelling commented on #9
I agree with you @qgustavor and @Vanuan.

More generally however, Nicky's caveat "The results turn out *something like this* […]" is important here. Different outcomes are possible for each setting with more than 0% miscommunication. However, there are more and less likely outcomes, and Nicky probably wrote down only the most likely outcomes to keep it simple.

It would be interesting to simulate

[2017-08-01 18:55] agatku commented on #5
Just letting you all know that I started working on a polish translation at agagata/trust. If anyone's interested, feel free to join me. :) [I'm already in touch with @KrzysztofMadejski]

[2017-08-01 22:37] jkoelling commented on #6
Based on the source (might have missed something) it looks like the peeps interact as individuals. Their memory is reset for each round of the tournament and for each pairing, so the Grudgers do not stop trusting the Cooperators.

**The zero score is the expected result:**
Each Cooperator plays a match à 50 rounds with the 4 other Cooperators, 3 Grudgers and 1 Copycat. All of these rounds are comp

[2017-08-01 23:57] jkoelling commented on #13
The description is a bit inaccurate there: It's unlikely that the Grudgers win, but it is possible. As Nicky's description says, the two tie when all the others are out of the game. In that scenario they behave exactly the same and always get the same scores.
The setup here always leads to 25 Cooperative and 1 Grudger peep and everything after that is randomly decided. Since it starts out 25:1 it

[2017-08-02 06:03] raulsebastianmihaila commented on #6
@jkoelling That makes sense, thanks!

[2017-08-02 06:03] #6 closed, assigned to nobody

[2017-08-02 06:32] yusufff opened #19 "Turkish translate - font problem"
Hi, I'm translating this and having problem with the font. As you can see here: https://yusufff.github.io/trust/
https://github.com/yusufff/trust

What can we do?

[2017-08-02 07:51] osaatcioglu commented on #19
Yusuf, I am also translating to Turkish as I said in this thread https://github.com/ncase/trust/issues/5 We should collaborate. I see that you came pretty far as well. May be we can cross check our translations and share the rest.

https://osaatcioglu.github.io/trust/

Regarding font, the font fits nicely with the overall design and Turkish characters don't look so bad. What do you see really?

[2017-08-02 08:18] yusufff commented on #19
@osaatcioglu That's wonderfull, we can collaborate and win 2 coin 😉 My designer friend says she can convert the Futurama Handwritten font to Turkish. The "İ"s bugs me. I'll let you know when she's done and I'm finish with the translation.

[2017-08-02 08:26] osaatcioglu commented on #19
:) It doesn't look like a big problem to me. But, if your friend can provide a better font, I am all in for it. :) The only problem I see is that the text is longer in Turkish, of course, and this requires some cutting here and there to make sure that all text is visible.

Why wait till the end of translation? We can make better progress by collaborating earlier. What's your email address? Mine is

[2017-08-02 15:41] ncase commented on #18
Thanks for asking! So, not yet. If you'd like to give translating it a try (no pressure), I just added some how-to instructions to translate this interactive! :) https://github.com/ncase/trust#how-to-translate-this-thang Good luck!

[2017-08-02 15:43] ncase commented on #5
Hi everyone! Sorry for the delay, I've been swamped trying to prepare some things for this other thing which is thing thing thing

Anyway, I've added a basic language picker to the opening screen of The Evolution of Trust! It's just a link to the two full translations that exist so far (Chinese & Brazilian Portuguese) plus a link to the how-to for translating it yourself

![image](https://user-ima

[2017-08-02 22:42] gerardolm commented on #5
Hey, are the CHEAT and COOPERATE buttons on Chapter 1 not translatable? I'm halfway through the whole thing (to Spanish)... Layout is a bitch and I'm having some difficulties shortening text, but it's coming out nicely so far.

Nvm, I found those labels are further down in the file.

[2017-08-03 13:54] Tloz commented on #18
Hi @devhaoy !
I'm interested to contribute to the french translation as well.
I really want to show this to my friends!

[2017-08-03 15:37] asgard-thor commented on #18
hi, i can help too

[2017-08-04 05:39] PierreMarieRiviere commented on #18
@Tloz  and @asgard-thor  I'm giving it a first rough shot, then will post it here so you can improve it. Sounds good?

[2017-08-04 14:32] vEonz121 opened #22 "Translation to Arabic"
This would help the arabic culture that i live in understand some of the trust issues that are occurring.

It would really help having this project translated to as many languages as possible.

[2017-08-04 14:41] ncase commented on #22
Thank you, I'm honored you asked!

So, because my code is _totally not set up at all_ for right-to-left languages, and that's a bad oversight on my part, there's a lot of hacking needed to translate the game.

However, my friend Alex Clay's doing an Arabic translation, and they're 1/3 of the way through! Alex could use some help, if you're up for it -- just tweet at them: https://twitter.com/_Alex

[2017-08-04 14:42] vEonz121 commented on #22
Thanks for the input.
I am happy to contribute.

From: Nicky Case
Sent: Friday, August 4, 2017 6:41 PM
To: ncase/trust
Cc: vEonz121; Author
Subject: Re: [ncase/trust] Translation to Arabic (#22)

Thank you, I'm honored you asked!
So, because my code is totally not set up at all for right-to-left languages, and that's a bad oversight on my part, there's a lot of hacking needed to translate the game

[2017-08-04 19:53] jkoelling opened #25 "translation: gender"
@ncase Translating this awesome thing to German leads to a few additional gender related choices for the text. If I take some more liberty with the text I can get around most situations. I'm not yet sure if I'll always be able to do so without becoming too long for the available space. Being gender neutral in German is sadly a bit more complicated than in English. My current default, if I can not

[2017-08-04 23:05] ncase commented on #25
Ah, good point, I hadn't thought about that!

Sounds good to me! :)

[2017-08-05 13:02] #25 closed, assigned to nobody

[2017-08-05 13:31] ccamara commented on #16
@Saul-BT , I have just read your post now. I have already started and submitted a Spanish version (sorry for not having told you before and apologies if you have been working in vane - I have just discovered that there are some people working on a better translation system, which I think would be needed). Feel free to send any comments or suggestions on the translated repo: http://github.com/ccama

[2017-08-05 23:01] AYuPro opened #26 "Add Russian Translation"
url
https://ayuprogrammers.github.io/trust/
fork
https://github.com/AYuProgrammers/trust

[2017-08-05 23:56] ncase commented on #26
Ack, someone else sent in a Russian translation yesterday! It's the one I currently have linked to from the main page: https://likzet.github.io/trust/

However, I _do_ like your translation better, since you got a nice handwritten font that works with Cyrillic! What do you think we should do? Do you want to send a PR to https://github.com/likzet/trust to include your handwritten font? Or: I could

[2017-08-06 00:36] AYuPro commented on #26
My translation is better. and i think no matter who send it first.
I don't need promotions and money.
If they want to take my font, let them take all the text with him, because his text very bad.
With one condition, no advertising on the main page.

[2017-08-06 01:01] ytsygakova commented on #26
As another person who was late with Russian localization, I wouldn't say it is bad :)
But you guys can merge it to get the best result, no doubts

[2017-08-06 07:38] CCanerT commented on #19
Hi, I am not very good at programming but I am good with photoshop and I can translate stuff. Anything you want me to handle?

[2017-08-06 08:08] AYuPro commented on #26
I was only an hour late. And don't tell me that his machine translation is better than mine.
This man did nothing in fact, I don't need his help. But he is unable even to make the font, and puts his username on the main page, that even the author does not did.

[2017-08-06 14:16] ytsygakova commented on #26
I agree, positioning your name on the front page is kinda immodestly (but seems like all translations now have it, so probably it was added by Nicky). And **some** phrases are translated too literally. And font, of cause :)
But your translation is not perfect either: different names for characters in the game and in the sand mode, rough phrases, line breaks. There was smth else, don't remember...

[2017-08-06 16:32] AYuPro commented on #26
In Russian language the endings of words usually changes a lot in text, so do not pay attention to it, the only place where is not the same, a Простак/Простачок, its for purpose, second variant less aggressive and more suitable to the description, rather than a name.

"rough phrases" - thats to convey a desired message. Otherwise its too bland..
"line breaks" - long words, I know.

[2017-08-06 21:05] asgard-thor commented on #18
Ok for me

[2017-08-06 23:50] jkoelling commented on #13
Fixed by @audreyt https://github.com/ncase/trust/pull/28.

[2017-08-07 04:51] ncase commented on #18
Ah whoops, I should have notified you all in this issue thread: @ayowel uploaded a French translation three days ago! https://ayowel.github.io/trust/ If you notice anything wrong in their version, please let them know here! https://github.com/ayowel/trust

[2017-08-07 04:51] #18 closed, assigned to nobody

[2017-08-07 08:34] swapagarwal commented on #12
@ncase I think you can change the branch used for GitHub Pages under repository settings. 😄

[2017-08-07 11:44] Ayowel commented on #18
Actually I'm the one who should apologise.

Sorry, I didn't pay attention and went with the translation without looking up the issues, which I should have. There is probably still a lot of approximations, errors and typos, so if you find the time to fix some, I'll be more than happy to merge them.

[2017-08-07 14:44] osaatcioglu commented on #19
I finished my translation and created a pull request (https://github.com/ncase/trust/pull/29). It will be great if you can do proof reading and open an issue in my repo. Thanks.

https://osaatcioglu.github.io/trust/

[2017-08-07 22:19] zbrox opened #30 "Started a Bulgarian translation"
Title says it all :)

[2017-08-08 06:59] CCanerT commented on #19
There are some hard to understand parts, but I think it is because of the limitations of space provided by the game. Other than that, I didn't run into any errors.

[2017-08-08 07:30] osaatcioglu commented on #19
I agree. I had to summarize some parts brutally to fit it to the space. If you can list them as an issue, I will take another look. Thanks @CCanerT

[2017-08-08 10:33] Yaroslav-F opened #31 "Ukrainian translation started"
...not sure when it will be finished though. Dealing with cyrillic alphabet can be fun!

[2017-08-08 11:42] jkoelling commented on #19
It's possible to gain some more room by changing the y coordinates of some elements. Also, the splash for the introduction text can be widened up a bit. This way I could get a translation into German without shortening the original much.

Have a look at the changes I made to the `slides/*.js` files: https://github.com/jkoelling/trust/compare/9089195213b6c2f45ae295d20196b0f87cea12ca...d419446881148

[2017-08-08 12:11] Martin819 commented on #17
+1 on this to be solved.

[2017-08-08 12:11] Martin819 opened #32 "Translation to Czech"
Started to translate.

[2017-08-08 13:05] jkoelling commented on #17
Can you maybe get around this problem by rephrasing in a way that works independent of the number? Of course I don't know if this makes sense for your language.

For example, instead of:

[code]
use the following:
[code]

[2017-08-08 13:08] Martin819 commented on #17
For me, that could probably work. We'll see if I'll run into a situation where it can't be used.

[2017-08-08 18:21] CCanerT commented on #19
@jkoelling that sounds good, but I dont think I can handle that easily since I am not that knowledgeable on programming. Maybe @osaatcioglu or @yusufff can do that. Meanwhile, @osaatcioglu I will check again and give you some info tomorrow. If I come up with something good as replacement translation, I also add that too.

[2017-08-09 14:24] CCanerT commented on #19
For opening part "--Birinci dünya savaşı sırasında siperlerin içindeki askerler için barış ansızın geldi. 1914 Noelinde, "düşmanı görüldüğünüz yerde vurun" emrine karşın gene de-- İngiliz ve Alman askerleri siperlerini bırakıp, savaş alanını geçip ölülerini gömmek, hediyeler değiş-tokuşu yapmak ve oyun oynamak için tarafsız bölgede toplandılar.  --Öte yandan günümüzde batıda uzun süredir var olan

[2017-08-09 14:35] CCanerT commented on #19
For the  POSSIBLE WIN-WINS " İki tarafın da bir şekilde kar etiği bir oyun oynamak zorundasın. Bir taraf zarar ederken diğer tarafın kar ettiği durumlar işbirliği için yararlı olmuyor. "

[2017-08-09 14:35] CCanerT commented on #19
The rest is fairly understandable, so no need for tinkering.

[2017-08-09 15:40] omichalek commented on #32
spojme síly // we can join our forces, I have a beginning translated already at
https://github.com/omichalek/duvera/

I am aiming at
- informal addressing of the player (tykání) - I usually do not like this, but I feel that using the formal addressing would feel alien to children - one of the target groups
- gender neutral language

...
yes, our language is complicated

Also, the used font lacks C

[2017-08-09 17:33] Minoru commented on #17
@jkoelling, we sure can, but:
1. this usually makes the language less lively and more formal (akin to passive voice in English);
2. this makes the text longer, and we're pretty tight on space as it is (Russian words are generally longer than English ones).

[2017-08-09 20:09] osaatcioglu commented on #19
@jkoelling great suggestion. But, I checked your code and it looks like I will need to modifications in several place and I am afraid that it will be changed too much from the actual code. Also, I have also finalized the translation so I don't need the extra space anymore. :) Thanks.

Thanks @CCanerT . I will review your suggestions and update accordingly.

[2017-08-10 07:26] jkoelling commented on #19
@osaatcioglu you're welcome anyway! Yes, you'd have to modify the code wherever you need more space. It might look like a lot, but it's always the same increasing of the y-position (apart from the splash). Without changing the layout completely to something that flows by itself, there's no way around this. If you don't need it to fit the text, there's obviously no reason for it.

[2017-08-10 07:48] jkoelling commented on #17
@Minoru I'm aware this is not perfect, but it is a solution that works right now without any changes to the code. You can always come back and change it once someone added a general solution for pluralization.

I thought about doing one myself, but as far as I can tell it affects only two sentences which are basically just labels in the sandbox. You don't loose much, if they are a bit less lively.

[2017-08-10 09:08] Saul-BT commented on #16
I realized

[2017-08-10 15:22] gooduling commented on #31
Russian cyrillic translation with TimesNewRomans font looks ugly. We definitely should use some custom font.
https://likzet.github.io/trust/

[2017-08-10 15:26] Yaroslav-F commented on #31
@gooduling this font might work: https://ayuprogrammers.github.io/trust/ . I'll find something that looks more or less hand-written :)

[2017-08-10 15:35] gooduling commented on #31
Ne pogano! :)

[2017-08-10 17:41] paddyzab opened #35 "Translation to polish"
Will try to finish it till the end of weekend.

Contributors welcomed on the fork, cheers.

[2017-08-11 06:26] Hollowese commented on #30
Аз мога ли да помогна? :)

[2017-08-11 17:18] brunolemos commented on #5
@ncase I added analytics on pt-br version, 15k sessions so far! Very cool.
I imagine the english version is dozens of times more, of course; could you share the number?

![image](https://user-images.githubusercontent.com/619186/29224272-f491c480-7e9f-11e7-9418-3ceb0e66f14b.png)

[2017-08-11 18:11] ncase commented on #5
Wow @brunolemos, that's amazing! I don't put analytics on most of my stuff -- but looking at the number of social shares via sharedcount.com (153.7k Facebook shares), and multiplying that by the ratio of plays/shares for a previous game (60 plays per Facebook share), I estimate... _9 million plays?_ :O

[2017-08-11 19:29] brunolemos commented on #5
Amazing!

[2017-08-11 20:28] #10 closed, assigned to nobody

[2017-08-11 22:18] gooduling commented on #31
How it goes, man? I can help to translate some part during this weekend. Say, I can translate Intro and first 300 lines of code in words.html

[2017-08-11 22:39] sin commented on #35
Hi, I already translated it into polish: https://github.com/sin/trust & https://sin.github.io/trust/

@agagata also started translating it into polish here: https://github.com/agagata/trust

We're going to merge our translations eventually. @agagata's friend agreed to proofread it and she's a professional translator, so it's going to be awesome :)

CC @KrzysztofMadejski

[2017-08-12 08:08] Yaroslav-F commented on #31
All good here. I'm currently on line 368 of words.html and line 77 of notes/index.html . Not much more left. I might ask you to review my translation when I'll finish if that's okay?
Anyway, I'll push my progress to my fork and will keep going, feel free to create pull requests to it :)

[2017-08-12 08:24] gooduling commented on #31
Sure. Just let me know when you'll finish

[2017-08-12 11:34] Furrane opened #36 "Copycats instead of always-cheats"
First congratulation on your amazing website !

The issue is in the title, when playing the simulation with lower rewards, copycats took over.

![trust](https://user-images.githubusercontent.com/17956472/29240316-f780e40a-7f62-11e7-94de-acc067ab1a03.png)

[2017-08-12 11:40] Furrane commented on #36
Woops I ran it again and it seems I'm retarded, I assumed the +2 to +1 reward modification was set by default, my fault.

I might be the only dumb person to miss it but maybe try and highlight the reward panel to make it clear users can modify it ? Again just a suggestion, I'm sure most people won't miss it =)

[2017-08-12 12:09] osori opened #37 "Translation to Korean"
I'm translating this game into Korean. Let me know if anyone is interested in collaborating!

[2017-08-13 09:51] agnelvishal opened #38 "Shall we create an Android app through phonegap?"

[2017-08-14 08:13] zbrox commented on #30
@Hollowese Супер! Започнах точно преди един музикален фестивал така, че не съм превел много. :) https://github.com/zbrox/trust

[2017-08-14 10:19] gooduling commented on #31
Good job! Quite high quality of translation.

[2017-08-14 12:22] Yaroslav-F commented on #31
Thanks :)
You can finish notes/index.html for me if you like (and have spare time ofc). I'll get to that after finishing with words.html (line 510 now!) otherwise.

[2017-08-14 14:19] Hollowese commented on #30
Благодаря, заемам се!

2017-08-14 11:13 GMT+03:00 Rostislav <notifications@github.com>:

[2017-08-14 17:31] lightspot21 opened #39 "Greek translation started"
I've already started translating to Greek at my own fork. Notice: the original font doesn't support any other alphabets than the Latin one, so my version has changed it.

Feel free to contribute here: https://github.com/lightspot21/trust

[2017-08-15 03:53] kylecho commented on #37
I'm down. How much have you translated?

[2017-08-15 03:58] kylecho commented on #37
I'm down. I will fork your repo and contribute to it.

[2017-08-15 05:12] ritiek opened #40 "Translation to Hindi"
I'd like to propose a Hindi version for this game. Although I am not very free at the moment but I would love to lend a helping hand.

[2017-08-15 11:07] osori commented on #37
Great! I just merged your pull request on Noise section.

I'll be focusing on translating from the back since you might be translating Sandbox right now as it's the section right after what you just translated, so that our translations do not overlap.

[2017-08-16 15:14] ghost opened #41 "Swedish Translation"
I'm currently working on porting Trust to Swedish.

http://github.com/speherh/trust/

[2017-08-16 17:51] hamed commented on #22
I have just finished Persian translation. Persian use the same script as Arabic, so you might use that as well. It is a quick dirty hack ...
https://github.com/hamed/trust

[2017-08-16 17:52] hamed opened #42 "Persian فارسی translation"
I have translated it to Persian, I also made some quick fix for the right to left scripts.
https://github.com/hamed/trust

[2017-08-16 20:34] #16 closed, assigned to nobody

[2017-08-17 11:47] Alicecold commented on #41
I have been working for one for a while, but I didn't read about that one should make an issue about it until now. I guess that's my own fault though.

Ifall du vill ha inspiration till översättningarna:
http://github.com/alicecold/trust/
(Det vore snällt att stå med som översättare ifall du gör det, eftersom att jag hunnit lägga ner rätt mycket tid redan)

Fråga mig eller bjud in mig till ditt re

[2017-08-17 18:30] MudarAljundi commented on #42
That would be great! There are a few areas where your repo helps mine! I'd also like to share some hacks that will change the numerals to Arabic in the thumbnail and the scripts, like so:

![asdf2](https://user-images.githubusercontent.com/13874863/29427541-22e4bf74-8358-11e7-88b6-0e045dfae472.png)

Is it fine if I open an issue on your GitHub repo?

[2017-08-17 18:33] hamed commented on #42
That would be great!

[2017-08-17 18:40] MudarAljundi commented on #42
One quicky problem. I can't find the "Issues" tab... 😅
![asdf3](https://user-images.githubusercontent.com/13874863/29428092-f272564c-8359-11e7-81d6-cc68f2c82410.png)

[2017-08-17 18:55] ncase commented on #12
Alright, the issue's been (finally) fixed! Because I only had one branch, I couldn't use GitHub's repo settings to update the default branch... so, I had to create a new "master" branch, push that, then set the default to the "master" branch, then set the default _back_ to the "gh-pages" branch, then delete "master".

Total hack but `git clone git@github.com:ncase/trust.git` works now, without thr

[2017-08-17 18:55] #12 closed, assigned to nobody

[2017-08-17 19:00] ncase commented on #35
Thank you so much, @sin! (Sorry for the late reply, was visiting family last week) I've pushed your translation up to the main site:

![image](https://user-images.githubusercontent.com/825858/29428915-da6dce52-835c-11e7-9e66-4831d2ddcbe6.png)

Many thanks again! :)

[2017-08-17 19:24] hamed commented on #42
solved!

[2017-08-17 19:25] lukibeni opened #44 "Hungarian translation"
Hi,

I've started hungarian translation, please contact me if you wanted to help.

Bence

[2017-08-17 20:00] ncase commented on #42
Thank you @hamed & @MudarAljundi! I've pushed the Persian/Farsi version up to the main page!

![image](https://user-images.githubusercontent.com/825858/29431202-23384f56-8365-11e7-8b8e-5d692067ef86.png)

(Also, um, because I am not a very worldly-cultured person... what's the difference between Persian & Farsi?)

[2017-08-17 20:05] Verena1020 commented on #44
Szia, elkezdtem fordítani a notes-ot, a felénél tartok. Most regisztráltam erre az oldalra pont ennek a játéknak a kapcsán, de még nem térképeztem fel, hogy működik pontosan. Van valami időbeli korlát, igényt tartasz-e arra, amit elkészítettem ... hogy legyen :-)?

[2017-08-17 20:35] hamed commented on #42
Wonderful!
Others call it Persian, we call it Farsi.

[2017-08-17 20:46] ncase commented on #42
Ah, thanks @hamed! :)

Also I forgot to mention last time, but _wow_ I'm super impressed with how you + @MudarAljundi managed to right-to-left flip EVERYTHING, even the scoreboard & bottom navigation bar.

Many thanks again! I'll close this issue now~

[2017-08-17 20:46] #42 closed, assigned to nobody

[2017-08-17 20:52] hamed commented on #42
Thank you for this masterpiece!

[2017-08-17 21:12] lukibeni commented on #44
Hello!

Nem tudom ismered-e a GIT-et vagy bármilyen verziókövető rendszert, ha igen akkor ez is az :)
Ha nem, akkor kb annyi a lényege, hogy tud több ember egy projekten dolgozni, és mindig az utolsó verziót látják, majd mikor csinált valaki valamit akkor feltölti és más is azt látja.
Én csináltam egy ún. repository-t amiben csinálom a magyar fordítást, ezt itt láthatod:
https://github.com/lukiben

[2017-08-17 22:29] hrvojesimic opened #45 "Croatian translation"
I forked to https://github.com/hrvojesimic/trust to make a Croatian translation.

The font was of no use, so I switched to [Dekko](https://fonts.google.com/specimen/Dekko) thinking it's the closest match to Futura Handwritten. But it came out looking like Comic Sans:

![image](https://user-images.githubusercontent.com/13361285/29435724-68c8ede4-83a8-11e7-85c3-d1807d0779e5.png)

So I tried a neater

[2017-08-18 07:39] Verena1020 commented on #44
Köszi, megnéztem. Nem a te generációd vagyok és kellően humán beállítottságú az ilyenekhez :-): soronként másoljam be az angol szöveg alá (github.com/lukibeni/trust - notes/index.html/edit/copy lines)? Vagy még le kell töltenem vmit? Egyébként kész a notes, el tudom küldeni, ide vagy bárhova :-). Köszi :-)!

[2017-08-18 08:09] lukibeni commented on #44
Semmi gond, de ne soronként másold, hanem cseréld ki az angolt a magyarra, és úgy jó lesz :) ha átküldöd itt a kész notes-ból az index.html-t az tök jó lenne, beleírom a neved a közreműködők közé. Verena1020-at írjak vagy valami mást? :)

[2017-08-18 08:29] Verena1020 commented on #44
ne haragudj ezért az értetlenkedésért :-), de akkor ezek szerint oda megyek, amit leírtam (notes/index.html), ott rákattintok az edit-re és az angolt kitörölve a magyart írom be helyette, és ennyi? te már látni fogod? van vmi mentés gomb :-)? mire ezt a manővert véghez viszem, kitalálom a nevemet :-) ...

[2017-08-18 10:36] Verena1020 commented on #44
kész, elmentettem. látható?

[2017-08-18 14:02] lukibeni commented on #44
Nem találom hova csináltad :( Az a biztos, ha letöltöd a fájlt, sima szövegszerkesztővel átírod magyarra és visszaküldöd :)

[2017-08-18 14:41] Verena1020 commented on #44
MEGJEGYZÉSEK:

"A bizalom evolúciója"

Ez az interaktív útikalauz főként Robert Axelrod 1984-ben megjelent The Evolution of Cooperation című forradalmi könyvén, annak 1997-ben megjelent The Complexity of Cooperation című folytatásán, valamint Robert Putnam 2000-ben kiadott, az amerikai társadalmi tőke hanyatlásáról szóló Bowling Alone című művén alapul.

Hát igen, igazi könyvmoly vagyok, kérlek, n

[2017-08-18 14:43] Verena1020 commented on #44
Nem bízom a véletlenre :-).
Beillesztgettem a szöveget, elmentettem, itt van a gépemen html formátumban, nem tudom, mit kell vele csinálni.
https://github.com/Verena1020/trust/tree/patch-2

[2017-08-18 16:16] lukibeni commented on #44
Ahova írod a választ csak húzd bele a fájl :)
![kepernyokep errol 2017-08-18 18-16-04](https://user-images.githubusercontent.com/8298415/29467595-506c5e68-8441-11e7-9255-a557f613473c.png)

[2017-08-18 16:32] Verena1020 commented on #44
https://github.com/Verena1020/trust/commit/d10a321d4746ab7b7759937631e36fcaa39b35b5

[2017-08-18 17:47] Verena1020 commented on #44
[trust-patch-2.zip](https://github.com/ncase/trust/files/1235214/trust-patch-2.zip)

[2017-08-18 17:51] lukibeni commented on #44
Sikerült, köszi :) Még nem válaszolt aki írta, szóval nem tudom mikor kerül ki...

[2017-08-18 17:53] Verena1020 commented on #44
hát ennek szívből örülök :-)

[2017-08-18 17:54] Verena1020 commented on #44
Rojko Veréna a név :-)

[2017-08-18 20:12] Alicecold opened #47 "An easy to read version"
I asked around for critique for my translation when I got one who found it hard to read the font due to her deteriorating eyesight.

Albeit I realise that it probably won't happen, it would be awesome with a version with A. Larger text/zoomable text and/or B. a more neutral (and less awesome, to be frank) font. Or something.

[2017-08-19 15:05] hrvojesimic opened #48 "Prisoner's Dilemma explanation incomplete"
At the beginning of the story we are introduced to a classic Donation Game, a special case of (non-iterated) Prisoner's Dilemma (PD). The explanation is great for the most part. However, i feel there are two large holes in the explanation that will probably confuse people that are new to this game:

## 1. The goal of the game

The goal of the game is to *maximise your score*. That's it. The goal i

[2017-08-19 21:56] Nick-IronTower commented on #31
Як просувається справа? Треба підмога?

[2017-08-20 05:33] pankaj113 commented on #40
I also wondered if someone was working on the Hindi version. I will do it. I have an uneven sense of github, HTML code, Hindi and English. Need to consolidate and augment upon that - would love to have your helping hand.

[2017-08-20 07:51] pankaj113 commented on #40
Translated index.html; On to words.html; Feedback welcome!

[2017-08-20 12:56] zbrox commented on #30
@Hollowese прогрес? Предложения за разпределение на работата? Днес може би ще имам време привечер да продължа работа, та се притеснявам да не повтарям вече свършена работа без да искам.

[2017-08-21 10:27] wombat86 commented on #31
@Yaroslav-F, what about creating separate issues for different parts of translation so that few could work on the translation in parallel? I also can help btw.

[2017-08-21 10:30] Yaroslav-F commented on #31
@Nick-IronTower Просуваюся крок за кроком. Намагатимусь закруглитися до 30го числа, перед відпусткою. Відпишуся про прогрес 29го :)
@wombat86 you're very welcome to create Issues/PRs to my fork, any help is appreciated! Especially with notes/index.html file.

[2017-08-21 19:33] JoannaFalkowska commented on #35
Polish has gendered verb conjugation. It really throws me off as a woman because the default chosen for this translation is male. Would you accept a fork that adds gender choice at the beginning, if done right and pretty of course? Polish version also has minor styling issues that I'd be glad to fix (if that's possible for only one language version, I'm not sure).

[2017-08-21 20:24] agatku commented on #35
@Senthe we're aware of the things you mentioned and we're working on them in this issue https://github.com/agagata/trust/pull/1 We'll merge it soon [hopefully today-tomorrow] so maybe then you could take a look? We'd appreciate your help :)

[2017-08-21 22:29] JoannaFalkowska commented on #35
@agagata Thanks for the response, I'm glad you're working on this : ). If I have the time, I'll take a look this weekend.

[2017-08-22 12:32] DavidSypniewski commented on #35
Polish letters do not work correctly with this font (look at the "Ł")
![image](https://user-images.githubusercontent.com/31244815/29565516-92080d4c-8746-11e7-8b8d-c788c46b2b97.png)

[2017-08-22 12:33] DavidSypniewski commented on #35
![image](https://user-images.githubusercontent.com/31244815/29565570-c4788db0-8746-11e7-93e7-5d90d2439d3a.png)
At the end of the single game the text hides under the buttons

[2017-08-22 12:53] sin commented on #35
@DavidSypniewski I just changed the font to one that supports polish letters and we're working on other issues right now. As @agagata said, we would appreciate your help if you could take a look again tomorrow. :)

[2017-08-22 17:35] fbricart opened #49 "Catalan translation"
Hi all,

I would like to translate this wonderful resource into Catalan. It explains many things from societies in a funny way.

If there's anyone interested to help in this translation, I would appreciate it that because I don't have too much time and probably it will take longer than I would like.

Regards,

Francesc

[2017-08-24 17:29] DavidSypniewski commented on #35
@sin the font is fine!

[2017-08-25 18:19] JoannaFalkowska opened #50 "Some translations aren't available when you pick some other translations"
I realize that's a problem with each individual fork. But isn't there a way though to actually use only translation files instead of forks and have the rest of the app shared, all in one repo? I mean i18n-like? It's not only the matter of language picker, but consistency in general after all. You can't force people to pull and keep their repos up-to-date forever. Maybe in the worst case one person

[2017-08-26 21:31] RusevPaul commented on #31
@Yaroslav-F Якщо потрібна допомога з перекладом, маю команду, яка допоможе. По закінченню можу продивитись по тексту для більшої ефективності ;)

[2017-08-27 07:44] MudarAljundi commented on #22
The Arabic version is almost done. I'm currently waiting on playtesters' response before I officially publish it.

However, I've encountered a problem: Arabic thumbnail not loading when link sharing. Probably an issue with github.io servers.

This is where the Arabic thumbnail is currently hosted:
https://mudaraljundi.github.io/trust/social/thumbnail.png

Possible solutions:
1) @ncase could host t

[2017-08-27 12:00] Minoru opened #51 "Tooltips on players during matches"
One of the friends I showed the game to remarked that he can't keep track of players during matches because he can't remember them all by hat type and colour. It'd be useful for him if the game showed a tooltip on mouseover, just like it already does at the beginning of the tournament (where mousing over a button shows a tooltip with player description.)

[2017-08-27 13:57] Verena1020 commented on #44
Szia, látom megjelent a magyar verzió. A "Megjegyzések" angol maradt, a
fordításom nem került bele. Miért?

2017-08-18 19:51 GMT+02:00 Bence Lukács <notifications@github.com>:

[2017-08-27 15:15] paddyzab commented on #35
Closing this issue.
Thanks @sin.

For the future, follow the protocol described by @ncase to make it clearer to other people that you started working on it.
Saves time for all people around.

[2017-08-27 15:15] #35 closed, assigned to nobody

[2017-08-27 19:17] KrzysztofMadejski commented on #35
Sorry @paddyzab for the confusion, when @agagata @sin started translation there was only one [general issue](https://github.com/ncase/trust/issues/5) and no recommended protocol.

[2017-08-27 22:14] nirazul commented on #47
I think it would be trivial to create a version with a neutral handwriting.
The only thing necessary would be a button to set a class on the body to trigger a css style with a more neutral font.

If @ncase is interested, I'll create a pull request (or die trying).

[2017-08-27 23:51] ghost commented on #31
@Yaroslav-F Теж допоможу, якщо потрібно. Почала свій, аж потім додивилась, шо вже в процесі)

[2017-08-28 00:54] ghost commented on #31
@Yaroslav-F щодо шрифтів - недавно шукала безкоштовні рукописні, то деякі приміряла на головну і текстову сторінки гри, пдфку з 8 прикладами можна подивитись тут: https://drive.google.com/file/d/0Bzoou1o9QYmVdmxxT2EyY0hKYzA/view?usp=sharing
Є як мінімум 2 норм: Noteworthy i Chalkboard SE.

[2017-08-28 09:26] Yaroslav-F commented on #31
@irnerne Чудова робота, Jacob CTT виглядає просто розкішно! Якщо ніхто в цій гілці не проти, Jacob CTT буде нашим шрифтом ^_^
@RusevPaul @irnerne @wombat86 @Nick-IronTower @gooduling Підмога і справді знадобиться. Я йду в відпустку на 2 тижні та намагатимусь триматися якнайдалі від комп'ютера.

На даний момент _words.html_ перекладений **до 719го рядка (з 1223)**, _notes/index.html_ - до **72го (з

[2017-08-29 05:49] MudarAljundi commented on #22
UPDATE: Forget my previous inquiry. I've solved the issue by hosting the Arabic thumbnail on Newgrounds dump (it doesn't appear against the NG ToS, and NG already gets my $25 every year so they probably won't mind).

[2017-08-29 07:29] aliqq commented on #48
I completely agree with the above (but think the explanations shouldn't get more complicated), and would like to add a similar issue in the "evolution" section. There it says

The phrasing suggests that the game is zero sum, or maybe that a whether a game is zero sum depends on the player's beliefs or actions. To me it also sounded as if it's non-zero sum, but if I do the change of +2/+2 to +1/+1

[2017-08-31 09:53] lee-elenbaas opened #52 "Hebrew translation"
I am starting on a hebrew translation
https://github.com/lee-elenbaas/trust

[2017-08-31 11:18] Alicecold commented on #47
If I get to dream big, it would be cool with a narrated version for other people with weak eyesight. But that would be a lot more work, and it would not help the original person either (since she does not understand English that well).

A variance of this would be to make sure that it works well with a screen reader, but I have yet to try how well it works currently with one. :)

[2017-08-31 11:20] Alicecold commented on #50
But it will probably calm down with the translations after a while, and in worst case someone could still go through the original and back to whatever language they wish for.

[2017-08-31 14:34] hrvojesimic commented on #48
I agree that introducing zero-sum game at this point does not help. However, the issue is not false belief of players. Rather, in PD there must be a *substantial* reward for cooperation to counterbalance the risky behaviour of being "nice". So I would say something like this:

EDIT: Removed the part about zero-sum. It's best to dispense altogether with the explanation of "zero-sum" vs "non-zero-su

[2017-09-03 23:26] MudarAljundi commented on #22
Arabic translation has been published ;)

https://mudaraljundi.github.io/trust/
https://github.com/MudarAljundi/trust

[2017-09-04 10:58] MudarAljundi commented on #52
Hello lee,

I finished the Arabic translation of the game and I'd be happy to share my programming tricks to 1- align all your UI to the right and 2- replace all the English numerals with the corresponding Hebrew numerals. When your translation is near completion just ping me and I'll fix it up!

My Arabic translation is here:
https://github.com/MudarAljundi/trust
https://mudaraljundi.github.io/tr

[2017-09-04 11:02] #22 closed, assigned to nobody

[2017-09-04 11:42] lee-elenbaas commented on #52
@MudarAljundi thanks - i will take a look

[2017-09-04 18:51] hamed commented on #22
Congratulations!

[2017-09-05 03:26] maeriens opened #53 "Spanish Translation - Latin American"
I know there is already a Spanish one - and it's a good one; but some key concepts have a 'slightly better way' of translating to Latin American.
Also, I will run it through several friends from different places to ensure that it is correct and has no double meaning and that nothing is lost in translation.

 I believe I will need to slightly modify some of the inline styling of certain elements, a

[2017-09-06 07:17] Alicecold commented on #41
Are you still working on it? I've finished my version (mostly for fun), but I am still open to help you if you need help. :)

[2017-09-06 07:48] lukibeni commented on #44
Hello! Most már belekerült, de az index.html-t még mindig nem frissítette (olyan kb kéthetente válaszol ahogy nézem), azt is elküldtem neki, szóval ha berakja akkor a ott lesz a neved is. :)

[2017-09-12 16:55] maeriens commented on #53
Mail sent with link 😃

[2017-09-13 20:00] #53 closed, assigned to nobody

[2017-09-15 06:18] Verena1020 commented on #44
Köszi szépen :-)!

2017. szeptember 6. 9:48 Bence Lukács írta, <notifications@github.com>:

[2017-09-16 13:32] agnelvishal opened #56 "Is it possible to create an online multiplayer version?"
Two Human players playing against each other.

[2017-09-26 12:56] arenaq commented on #50
Or you can create a pull request for merging the original to their repo. They will receive an email. There should be no conflicts, so all they have to do is to click "Merge" and its done ;)

[2017-09-26 15:02] Yaroslav-F commented on #31
Translation finished: https://github.com/Yaroslav-F/trust 🎉 🎉

Got some tiny CSS issues here and there, so asked @ncase whether I can just go ahead and fix them or if they want to do it themselves to ensure I don't break anything 🦀 .
Will keep this branch posted, thanks for your patience everyone!

PS: As always, if anyone wants to read through the translation to improve it - you're most welcome t

[2017-09-26 17:35] jkoelling commented on #31
I modified a couple of things for the German translation and @ncase didn't mind. I'm sure they'll be happy if you do and test it yourself. And if they really want to have their own look at it, it's easier to review the fixed version than to do the fixes. :)

[2017-09-27 08:26] Yaroslav-F commented on #31
yup, just got a blessing so going to do couple of changes to css 🙂

[2017-09-27 14:54] hariesramdhani opened #57 "Bahasa Indonesia (Indonesian) translation"
I started translating this to Bahasa Indonesia (indonesian) since no one already did it. Anyway nice explorables as always.

[2017-09-30 14:26] greg0x commented on #44
köszi a munkát! 👍

[2017-10-03 06:48] zarielan opened #58 "Filipino Translation"
I'm currently doing a Filipino translation here :)

https://github.com/garuscene/trust

[2017-10-04 07:58] Yaroslav-F commented on #31
It is done!
![screenshot 18](https://user-images.githubusercontent.com/4863615/31165216-2055bda8-a8e2-11e7-8b8d-90e906710182.png)

[2017-10-04 07:58] #31 closed, assigned to nobody

[2017-10-05 05:14] YunTp opened #59 "My Application"
Can I use the ideas of your work to create a free little software? Non-profit. Please.

Thank you for your reading . Best wishes to you .

[2017-10-05 15:23] YunTp commented on #59
Please . Can I ... ?

[2017-10-05 15:27] ncase commented on #59
Yeah of course! All my work is public domain, Creative Commons Zero: https://creativecommons.org/publicdomain/zero/1.0/

[2017-10-05 15:27] #59 closed, assigned to nobody

[2017-10-05 16:50] YunTp commented on #59
Thank you . When I finish it , I will upload it to my github.

[2017-10-09 15:22] #58 closed, assigned to nobody

[2017-10-14 10:22] hrvojesimic commented on #45
Published at www.varljiv.org/evolucija-povjerenja

[2017-10-14 10:22] #45 closed, assigned to nobody

[2017-10-14 21:13] hthrrrr commented on #52
היי אחי רוצה לשתף בזה פעולה? אני עכשיו לפני גיוס מת משעמום ככה שאני יכול לתקתק את זה :)

[2017-10-15 06:53] lee-elenbaas commented on #52
בשמחה שלח דואל
lee [at] elenbaas [dot] org [dot] il

[2017-10-15 11:55] hthrrrr commented on #52
hthrrrr@walla.com

[2017-10-30 15:27] Simon3995 opened #62 "Working on a Dutch translation!"
Native Dutch speaker here, I think the idea of this website is really neat and I didn't see a Dutch translation anywhere so I've started working on one

[2017-11-01 16:25] Vidogreg opened #63 "Slovak translation"

[2017-11-29 16:00] whatdudeneeds09 commented on #57
how is your progress with this? I would really love to help if you need any assistance.

[2017-12-04 16:28] osori commented on #37
Korean translation is done :)

[2017-12-04 16:28] #37 closed, assigned to nobody

[2017-12-20 16:31] agnelvishal opened #64 "Does not render in Firefox for Android"
It is zoomed in too much. Anyone has any idea on what should be done?

[2018-01-07 19:53] pi-Ratas opened #65 "Lithuanian translation started"
Hi all. I started Lithuanian translation.

[2018-01-19 07:24] annbid commented on #41
Hej, vi är några som är skulle vilja jobba färdigt den svenska versionen. Är ni två på gång, eller är det ok att fortsätta på det ni har gjort? Självklart skulle era namn stå med isåfall.

[2018-01-21 23:22] hovi commented on #32
Hey,
what's status of this one? Might be able to help!

[2018-01-24 14:45] Alicecold commented on #41
Jag har redan gjort en hel översättning men Speherh var ju först. Hen svarar dock fortfarande inte... Borde jag skriva till ncase att droppa hens översättning? Jag skulle vilja att någon korrekturläste min översättning oavsett, vill du att jag bjuder in er, annbid?

Sperheh does still not answare, should I ask if we can publish mine instead? I would love if someone wanted to proofread it though.

[2018-01-24 18:54] annbid commented on #41
Hej Alice,

Ja, skriv gärna och kolla om han låter oss publicera din översättning istället. Jag korrläser gärna. Jag har också en kollega (Josef) som gärna hjälper till.

Vänliga hälsningar Annika (annbid)

Skickat från min iPhone

[2018-01-25 08:48] Alicecold commented on #41
Jag har bjudit in dig som collaborator till forken som jag gjorde. Nicky har gett ett OK och har länkat (men det går fortfarande ju att fixa fel, missförstånd och slarv :) ) Ifall josef också vill till på det så behöver jag hans användarnamn så bjuder jag in honom med!

I've invited you as a collaborator to my fork of the repo. Nicky/Ncase have given an OK and have linked my version of the transla

[2018-01-29 20:02] ghost opened #66 "Welsh Translation Started, and also help me"
Dechreuodd gyfieithu Saesneg i ni
Started english to welsh translation

[2018-01-30 14:41] ghost commented on #66
Nid wyf yn gwybod llawer am GitHub, sut ydw i'n anfon fy ffeiliau wedi'u cyfieithu?
I don't know much about GitHub, how do i send in my translated files?

[2018-01-30 17:14] ghost commented on #66
Mae gennyf broblem. Yn yr ardal < p id="tournament_intro" >, bydd angen i chi newid pa fewnbynnau i CHAR i'r Gymraeg, oherwydd, bydd yn dweud copi yn hytrach na copi o'r golwg
I have an issue. In the area < p id="tournament_intro" >, you will need to change what inputs into CHAR into Welsh, because, it will say copycat instead of copi o'r golwg

[2018-01-31 12:11] zloster commented on #30
До всички заинтересувани. Вече има "официален" превод на български. Намира се тук: https://github.com/ncase/trust-bg
@ncase This issue could be closed because now there is an official Bulgarian translation.

[2018-02-08 09:40] annbid commented on #41
Hej, hur vill du att vi ska göra om vi hittar konstigheter i din
översättning? Ska vi skicka förslag som du godkänner eller bara ändra
direkt i texten?

Jag kommer vara bortrest 9-13 februari, så jag kommer inte hinna börja
förrän tidigast helgen efter det.

/Annika

2018-01-25 9:48 GMT+01:00 Alice Darner <notifications@github.com>:

[2018-02-08 10:51] Love-and-logic opened #67 "Tagalog translation started"
Go, go, go!! 😊🖖

[2018-02-13 20:36] Alicecold commented on #41
Jag har gjort så att ni ska kunna ändra direkt :)

Ni kan även lägga till era namn under "översatt av" i den form ni vill ha det :)

Jag ser själv att det är rätt mycket wonky... kommer ändra lite själv :)

[2018-02-14 09:05] annbid commented on #41
Fint! Vi kommer nog att börja med detta nästa vecka.

/Annika

2018-02-13 21:36 GMT+01:00 Alice Darner <notifications@github.com>:

[2018-02-14 20:54] ademaro opened #68 "2017 -> 2018"
subj

[2018-04-11 10:16] ibufu opened #69 "Live or die, war is a non-zero-sum game."

[2018-04-11 16:08] cer-nagas opened #70 "Where to choose language?"
I think there should be an easy-to-see button to change the language of the game. Now I can't find one.

[2018-04-11 19:19] jkoelling commented on #70
There should be a selection for all available fan translations at the bottom of the landing page:
<img width="931" alt="ncase-trust-language-selection" src="https://user-images.githubusercontent.com/6303280/38638158-a6d6b578-3dcd-11e8-9a9d-1599c7da8a61.png">

[2018-04-11 22:04] cer-nagas commented on #70
Oh it didn't show up when I first tried. Now it shows up. If I click on, for example, Tieng Viet, it disappears again.

[2018-04-11 22:41] jkoelling commented on #70
I understand, this can be a bit confusing.

The translations are all done by people who liked the project and they are hosting them themselves. You can see this if you look at the URL after clicking on one of the links. This means, that the other translations only show up if the person maintaining it updates their version regularly.

You can ask them to include the translations by going to their p

[2018-04-17 19:00] Kr1sty opened #72 "Danish translation started"
I'm fairly new to this, but I liked the message in the game, and I would love for others to get that message. btw I'm translating this for my classmates to enjoy

[2018-04-24 09:19] dr4Ke opened #73 "Chapter 5, number of rounds slider not functional"
In the beginning of the fifth chapter, there is a slider to choose the number of rounds to play.
Whatever the value is, the game plays indefinitely. Shouldn't it stop at the set number of rounds?

Tried with Firefox 59 and Chrome 59.

Great soft, by the way!

[2018-04-24 21:08] zommuter commented on #73
That's working as intended. The slider only modifies the amount of rounds _per_ tournament, but the game will still play (and evolve) tournaments indefinitely.

[2018-04-25 15:39] dr4Ke commented on #73
OK. I just didn't understand the meaning of it. Thanks for clarifying.

[2018-04-25 15:39] #73 closed, assigned to nobody

[2018-04-30 12:36] JoostGadellaa commented on #62
Hey Simon, can I help?

[2018-04-30 12:52] Simon3995 commented on #62
Hi!

I'd kind of forgotten about this, apologies for that 😬

I still have the (partially) translated files, I could send them to you if
you'd like?

Simon

On Mon, Apr 30, 2018, 2:36 PM Joost Gadellaa <notifications@github.com>
wrote:

[2018-04-30 13:52] JoostGadellaa commented on #62
Are you planning on finishing it? If you have it in a repo I could maybe help, but I'm not planning on doing the whole thing haha

[2018-04-30 13:55] Simon3995 commented on #62
I'm not really planning on finishing it at the moment, I have the files
downloaded in a folder on my PC.

On Mon, Apr 30, 2018, 3:53 PM Joost Gadellaa <notifications@github.com>
wrote:

[2018-04-30 14:31] Ayowel commented on #62
Then, could you commit & push what you've done on a branch in your fork so that @JoostGadellaa and others could continue the translation ?

[2018-05-04 09:22] wolfsbane4vw opened #74 "Estonian translation almost finished"
just need to put everything together now

[2018-06-22 08:10] #64 closed, assigned to nobody

[2018-06-22 08:10] #38 closed, assigned to nobody

[2018-06-22 08:15] agnelvishal opened #75 "<!doctype html> is right and not <!doctype>"
As per html validator at https://validator.w3.org/check?uri=ncase.me%2Ftrust&charset=%28detect+automatically%29&doctype=Inline&group=0 "html" needs to be mentioned in doctype. But adding <!doctype html> seems to cause css rendering issues.

[2018-07-18 13:54] paqio opened #76 "."
.

[2018-07-18 13:55] liepaja opened #77 "Latvian translation started"
Estimate to finish by end of July / beginning of August.

[2018-07-18 13:56] #76 closed, assigned to nobody

[2018-07-24 08:55] TsjipTsjip commented on #62
I'd love to help translating this, but this appears to be a really old thread. Has anything to collaborate come in the meantime?

[2018-07-24 11:25] JoostGadellaa commented on #62
If @Simon3995 puts his contributions in a forked branch you could continue. For now I don't have a clue what the progress is.

[2018-08-14 06:04] uetchy opened #79 "Improve Japanese Translation"
I have failed to read the Japanese version of "The Evolution of Trust" because its words are hard to understand.

I can contribute to improve Japanese translation. How could I involve into it?

[2018-08-14 16:35] Minoru commented on #79
Hi! I'm not affiliated with Japanese translation, but I think you should submit your edits to this repository because it's where the Japanese link points to: https://github.com/htlife/trust_jp/

[2018-08-16 04:23] uetchy commented on #79
Got it. I'll delve into it!

[2018-08-24 10:54] arteteco opened #80 "Loading stuck at 64% on Chromium"
Hello everyone,

loading is stucked at 64% on chromium.

Version 67.0.3396.87 (Developer Build) built on Debian 9.4, running on Debian 9.5 (64-bit)

In the console I see this problem:

`Uncaught (in promise) DOMException: Unable to decode audio data`

How can I help you debug this?

[2018-08-27 10:47] nextghost commented on #50
It'd be best to have a JSON list of translations in this (English) repo that would be downloaded by translated versions through JavaScript and displayed instead of the hard-coded list in index.html. That way, new translators won't have to send pull requests to every single other translator out there.

[2018-08-27 10:53] arenaq commented on #50
@nextghost and how would your newly added language got translated to all other languages? the best qualified people to do this are still the authors of all forks...

[2018-08-27 11:02] nextghost commented on #32
Since the only Czech translation in progress has been stuck half-finished for a while and contains some serious mistakes in basic terminology, I'm starting from scratch [here](https://github.com/nextghost/trust).

[2018-08-27 11:09] nextghost commented on #50
@arenaq Why on earth would you translate language names? The link to German translation must always be labeled as "Deutsch" so that people who only speak German can actually find it. Or do you expect them to somehow decipher weird labels like "German", "Němčina" or "ドイツ語"?

[2018-08-27 12:24] JoannaFalkowska commented on #50
@nextghost is completely right with their JSON solution. There is no reason to have a different repo for every language, current solution is very poorly thought through. But I guess it is way too late to change this setup now.

[2018-08-27 13:16] ncase commented on #50
I agree. In hindsight I shoulda done it with JSON, and in my later projects like https://github.com/crowds I did do exactly that! I'm currently swamped with new projects & work, but if I have the time I'll get around to changing this to JSON, maybe

[2018-08-27 14:19] arenaq commented on #50
@nextghost I would not, but I though this is what the discussion is all about. Cause if you do not want to translate the names then it's really simple - just don't put the language selection for translation and put it all to one place :)

[2018-08-27 15:24] JoannaFalkowska commented on #50
@ncase That is great to hear, best of luck with your new projects : )

[2018-08-27 17:08] jkoelling commented on #50
I agree that a list of all translations maintained in the main repo would be nice.

However, some comments sound like they suggest to have the complete translation contained in a json. I'd like to point out that this might not work in all cases. For example, the German translation is quiet a bit longer than the English original and I had to adapt multiple UI elements to make everything fit togethe

[2018-08-27 17:11] jkoelling commented on #50
btw: https://github.com/ncase/trust/issues/70 is a duplicate of this issue

[2018-08-27 17:50] arenaq commented on #50
I agree with @jkoelling that maintaining all translations in one json would not be a good idea.

I believe in solution somewhere in the middle. Translations handled like they are now, but the list of available languages handled somewhere in one place and the main page would present this list. That way the author of new translation would be responsible only for adding his own translation, not the c

[2018-09-03 06:31] msharifi99 opened #81 "Kurdish translation started"

[2018-09-10 07:54] fauzipadlaw commented on #57
how is your progress with this? I would really love to help if you need any assistance.

[2018-09-13 02:23] kernc opened #82 "Sluggish performance and high CPU use"
I observe sluggish performance of the app on Firefox 60 ESR and Chromium 68. The JS profiler says pixi.min.js graphics use the gist of the CPU time.

In the console, I see the warning mentioned in these Pixi.js issues: https://github.com/pixijs/pixi.js/issues/3897, https://github.com/pixijs/pixi.js/issues/4496. The problem is [supposed to be resolved](https://github.com/pixijs/pixi.js/issues/3897#

[2018-09-14 18:40] skhansari opened #83 "Persian translation Started"

[2018-09-26 14:00] brinerustle opened #84 "Esperanto translation"
I;d like to work on the Esperanto translation, let me know if you want to help out.

[2018-10-11 06:44] the-farshad commented on #81
سڵاو برای بەڕێز
دەستت پێکردوە؟ ئەگەر پیوستت بە یارمەتیە با یارمەتییت بدەم.
ئەگەر دەستیش و پێنەکردوە با دەست پێبکەم
سپاس و ڕێز

[2018-10-30 03:03] srakrn opened #85 "Thai translation"
I'm working for the translation in Thai language for this game.

As I do not have much free time, please do feel free to help me out at [srakrn/trust](https://github.com/srakrn/trust)!

[2018-11-06 19:25] ryao commented on #9
It could be that the browsers’ PRNGs have an issue. See the article at random.org for an explanation:

https://www.random.org/randomness/

I have this issue on mobile safari, but the PRNG used there is supposed to be well regarded:

https://lwn.net/Articles/666407/

I am not sure if we have a case where the PRNG algorithm fails to be perfectly random or where the simulation results are real. I don

[2018-12-11 13:09] Matejko124 opened #86 "Slovenian Translation"
Contact me if you're doing it as well :p
Shouldn't take too long.

[2018-12-12 12:27] tbrugz opened #87 "Mobile friendly"
It would be nice if _The Evolution of Trust_ was mobile-friendly. Attached printscreen is from chrome devtools emulating iPhone 6/7/8

![screenshot from 2018-12-12 10-29-21](https://user-images.githubusercontent.com/505483/49869731-68fe1980-fdf8-11e8-8dff-47e52cfebdba.png)

[2019-01-02 06:40] drionix commented on #57
Because there is no reply by initiator, i've started my own Indonesian translation.. Feel free to help :) Currently it's around 50% translated (line 667 from 1200++ of words.html)
[https://github.com/drionix/trust](https://github.com/drionix/trust)

[2019-01-08 04:05] SamsadSajid opened #89 "How to pass slide id with slideshow/goto ?"
There are a couple of events with the slides and one of them is `slideshow/goto`. The event is described in `js/core/Slideshow.js at line 119`

So, I have a button on a slide and when I click the button I want to go to the 3rd slide.

I am adding the button in a slide like this:
[code]

Now how do I mention the slide id (which is 3) so that when I click the button it takes me to the 3rd slide?

[2019-01-08 11:45] Grv-Singh commented on #40
How to see your work then?

[2019-01-28 14:39] reversedfate commented on #77
Hi, how is the progress on Latvian version?
Can I contribute/continue the translation?

[2019-01-30 09:03] mishkant opened #90 "Georgian translation"
I'm working on Georgian translation of this great app ^_^
Feel free to contact me.

[2019-03-04 15:05] LaPingvino commented on #84
Mi povos helpi vin lingve kaj teĥnike :)

[2019-03-06 21:21] brinerustle commented on #84
tre bone! fakte, mi ne estas tre lerta pri github, do se vi povas helpi, mi antaŭdankas.

[2019-03-20 08:39] nadvornix commented on #32
Hi! @nextghost
What is state of your translation? Is it finished and published? If not I can do it, if you want.

[2019-03-20 12:05] nextghost commented on #32
@nadvornix The game is completely translated but I haven't had time to finish translating the extra notes. I'll get to it sometime in April.

[2019-03-20 13:21] nadvornix commented on #32
Great, thanks. In case you would want help don't worry to ask me.

[2019-04-14 04:22] 0-admin opened #92 "it's not going to work, because..."
Noone ask why.

[2019-04-14 04:35] #92 closed, assigned to nobody

[2019-04-14 04:37] 0-admin opened #93 "This is non profitable, because"

[2019-04-14 04:41] #93 closed, assigned to nobody

[2019-04-17 08:35] reversedfate opened #95 "Latvian translation issue"
Current font which is used throughout the site 'FuturaHandwritten', does not support Latvian special symbols like ā, ē, ī, ū, š, č, ž, and so on, they appear in a default font which is visibly different.

![image](https://user-images.githubusercontent.com/11056229/56273086-b8d15200-6104-11e9-967e-711d86dc9e1d.png)

I will try to find an alternative font, that supports these symbols, yet looks simi

[2019-04-17 08:44] reversedfate commented on #95
Some similar fonts I found that allow the required symbols:
https://www.1001fonts.com/caveat-font.html
https://www.1001fonts.com/minya-font.html
https://www.1001fonts.com/architects-daughter-font.html
https://www.1001fonts.com/annie-use-your-telescope-font.html

[2019-04-17 17:20] Minoru commented on #95
It's not the first time translators need to replace the font; just search for "font" on this issue tracker. Sadly, the author never responded to say if it's okay, but presumably it is, because they added translations to the main page.

We used Pangolin for [Russian translation](https://github.com/NotDotTeam/trust), by the way. Not sure if it supports the characters you need, though.

[2019-04-18 17:35] ncase commented on #95
@Minoru Hi, sorry I've been swamped with work on other projects so I couldn't reply earlier! But, yes, it is okay to use other fonts – thanks for checking!

[2019-04-23 07:29] Grv-Singh commented on #40
Any updates?

[2019-04-23 09:53] pankaj113 commented on #40
[Hindi_Trust_Words.html.txt](https://github.com/ncase/trust/files/3106947/Hindi_Trust_Words.html.txt)
[Hindi_Trust_Index.html.txt](https://github.com/ncase/trust/files/3106949/Hindi_Trust_Index.html.txt)

[2019-04-23 10:00] pankaj113 commented on #40
@Grv-Singh  apologies for not responding earlier. I have added you as collaborator. Also sharing the files with Hindi translation. Index.html is fully translated. Words.html only began translating. The translations need to be completed, checked, improved.

Question about github-
I was thinking people could see the hindi translated code versions - are you not able to see it? How can I make it open

[2019-04-23 17:17] here-nerd commented on #85
Hi srakrn, are you still busy with the Thai translation. What can I help?

[2019-04-26 08:57] vilmaudenw opened #96 "Danish translation started -again"
I'm working on a Danish translation, since it doesn't seem like the last person got very far.
It might take some time, because i'm new to all of this -but i'll figure something out!
Please, feel free to contact me if you want to help me :)

[2019-04-27 12:50] Grv-Singh commented on #40
Yes, I don't know why i missed it but it's all in your repo. I'll check it so you can mail the link of your repo at N@NCASE.ME

[2019-05-13 09:11] nadvornix commented on #32
@nextghost Hi, how it's going?

[2019-05-13 15:39] nextghost commented on #32
@nadvornix Still working on it, check back in the weekend.

[2019-05-27 09:31] nadvornix commented on #32
Thanks!

[2019-05-29 19:25] reversedfate commented on #95
Thanks, the information was sufficient to solve the font problem.

[2019-05-29 19:25] #95 closed, assigned to nobody

[2019-06-12 11:13] Stromwerk commented on #87
I don't see this as an issue, since I was able to view and go through the whole presentation on my phone. The only thing that wasn't mobile friendly was the language list - I had some trouble clicking it.

[2019-06-13 19:41] ncase commented on #32
Thank you all! It's been pulled :) https://github.com/ncase/trust/pull/97

[2019-06-13 19:41] #32 closed, assigned to nobody

[2019-06-25 09:12] msharifi99 commented on #81
Hi Farshad
I'm afraid I can't finish translation due to my career business.
I would be nice if you can start it

[2019-07-17 10:32] rizkysyaiful commented on #57
How's it now @drionix ? Just stumble upon this.. this is a gem. The 'amal jariyah' will be a lot!

[2019-07-17 18:03] drionix commented on #57
@rizkysyaiful I've got no time to continue the translation since my last update. Currently, it's still only about about halfway done (50%) in words.html
Take a look and fork it if you wish to.
[https://github.com/drionix/trust/tree/master](https://github.com/drionix/trust/tree/master)

[2019-08-16 08:40] the-farshad commented on #81
Hi Mohammad
Sure
Although I have been involved for a while!

[2019-08-16 17:22] 1luap opened #100 "Finnish translation"
I started to work on the Finnish translation today.

[2019-09-14 21:13] nerdius commented on #90
Is there any progress? I'd love to help.

[2019-09-14 21:40] nerdius commented on #13
I've noticed similar things happening all over the place when the randomness is involved. E.g., when you tweak the level of miscommunication, between 8% and 11%, it's possible for either copycats, copykitten, or cheaters to win.

[2019-10-02 16:27] 1luap commented on #100
The first version of the translation is now ready: https://1luap.github.io/trust

[2019-10-09 21:06] ncase commented on #100
Awesome, thank you so much @1luap ! (and thanks for waiting!) Your translation is now linked to from the main page :)

![image](https://user-images.githubusercontent.com/825858/66520452-2c9e5700-eab7-11e9-80cc-a876ace1df22.png)

[2019-10-09 21:06] #100 closed, assigned to nobody

[2019-10-19 12:37] MentalAllergen opened #101 "Serbian translation"
I'm interested in translating the game to serbian. I've read the instruction and will be trying my best for the next few days. Any help is appreciated.

[2019-11-25 21:06] KevynTD commented on #87
I really wish I could share this with my friends, but asking for access from the computer is pretty bad.
Someone can put a class in "div # slideshow_container", something like ".slide1" and the number increases as the game interface changes. I saw an array with 35 objects inside called SLIDES, I think it should be the one that changes the interface, it would be great to put the SLIDES index number

[2019-12-06 13:10] chairulakmal commented on #57
Hi @drionix @rizkysyaiful are you guys still working on this one?

[2020-01-10 04:03] chairulakmal commented on #57
Since there's no response, I'll fork the one from @drionix https://github.com/chairulakmal/trust
Feel free to conctribute :)

[2020-01-10 05:12] drionix commented on #57
Hi @chairulakmal! I'm pretty busy with my other project and could not continue this. However, I just check your fork. You incorrectly forked the gh-pages branch, which does not contains any changes. Should have forked the master branch so you could just continue the rest of ~50%. [https://github.com/drionix/trust/tree/master](url)

[2020-01-10 06:01] chairulakmal commented on #57
Hi @drionix I did download the master branch and working on it locally now. You can check my repo again, the master branch is updated. Cheers.

[2020-01-10 14:51] chairulakmal commented on #57
The draft is complete. You can check it out here https://chairulakmal.com/trust/
You can commit changes if you want guys.

[2020-05-09 07:41] gervaic commented on #65
Lithuanian translation done!

[2020-05-26 11:48] 1Monika opened #104 "Armenian Translation"
Starting to work on Armenian translation.

[2020-05-27 11:55] alirustamov opened #105 "Kazakh translation"
Starting kazakh translation. Contact me if you want to contribute

[2020-06-03 22:15] Stosto2 opened #106 "Macedonian"

[2020-06-03 22:16] Stosto2 commented on #106
Just started translating in Macedonian.

[2020-06-05 09:51] ChameleonScales commented on #18
Hi,
I'm sure you noticed but the font used in the title and accross the game has the acute accent backwards. It reads "è" even though when I copy and paste it in a text editor it reads "é" as it should.
Can the font be fixed (with fontforge or whatever works)?
I think it's quite a pity to have a typo on the title. Makes you think all the rest is going to look like an old Google translation. You kn

[2020-06-26 08:46] poypoyan opened #107 "Tagalog translation started again"
Feel free to contact me if you want to help me. :)

[2020-07-08 13:42] fanmengyuleo opened #108 "Japanese translation incomplete"
I am currently working to complete the translation to Japanese.

[2020-07-25 21:00] Kickoman opened #109 "Belarusian translation"
I've started the Belarusian translation of the game. Any help is appreciated, contact me if you want to contribute.

[2020-08-10 16:32] uzzielperez commented on #107
Hi @poypoyan, I would like to collaborate on a Tagalog translation! Interested to see what you have done so far!

[2020-08-11 20:39] poypoyan commented on #107
@uzzielperez Sure, you may check and edit my translations if it is wrong. Note that some words are translated "slightly differently" from the orig because too long, while some words are left untranslated mid-sentence because I do not know how to translate it decently (yet). Thanks for helping!

[2020-08-12 16:41] uzzielperez commented on #107
@poypoyan cool! Thanks for the invite! I will take a look in the weekend. Would love to see this in Tagalog soon.

[2020-08-19 08:24] #30 closed, assigned to nobody

[2020-08-19 11:53] uzzielperez commented on #107
Hi @poypoyan, I made some changes in this [branch](https://github.com/uzzielperez/trust/tree/Tagalog)! Ang dami mo na pala nagawa! 🥇

Would you like to host this somewhere?

-------
Recipe for adding remote and pulling changes from a fork for future collaborators. Also, just so I won't forget.
[code]

or

[code]

[2020-08-19 17:54] poypoyan commented on #107
@uzzielperez Sure, you may host it somewhere, but I do not completely know what you will do (Sorry I do not know much about git). I think I would like more to contribute there than on my fork.

[2020-08-19 18:20] uzzielperez commented on #107
@poypoyan So I just basically pulled the contents of your fork and pushed to my [Tagalog branch](https://github.com/uzzielperez/trust/tree/Tagalog). If you want to get my updates you can follow the second recipe above or just continue making changes in your fork and I will just copy them. Whichever is more convenient for you!

I'll try to set up a website for this when we are done translating. :)

[2020-11-16 12:30] Freddie294 opened #111 "Underian"

[2020-11-23 13:07] poypoyan commented on #107
I'm dooone!

Note: My translation "style" is a bit formal, especially in grammar. In terms of nouns, adjectives, etc., Spanish and English loans are allowed, but native terms are "prioritized." Hence there are some Tagalog and Spanish words which I think are "good" translations, but not commonly encountered, like _pasumala_ (random), _utak-biya_ (idiomatic expression for stupid/simpleton), _trints

[2020-12-04 11:14] EduardoG2 opened #113 "Some translations have layout issues (i.e., Spanish)"
Since some languages demand more space than the original English, several issues arise. See this example.

![image](https://user-images.githubusercontent.com/75479679/101157103-8e7b3200-3664-11eb-93f2-451bf0d633ba.png)

Perhaps the solution would be [a font that is scaled to its container](https://css-tricks.com/fitting-text-to-a-container/)? Hopefully it wouldn't make it so small as to be unreada

[2020-12-09 07:11] poypoyan commented on #107
@uzzielperez kailan mo po maaaring gawin at ipadala ang translation? Thanks!

[2020-12-10 19:41] uzzielperez commented on #107
hi @poypoyan, bibigyan ko ng panahon ngayong weekend! Tapos ko na halos yung translation. :D

[2020-12-13 15:51] poypoyan commented on #107
hi @uzzielperez, since your pull request, may isa pa akong commit for finishing fixes. Thanks!

[2020-12-16 23:31] uzzielperez commented on #107
Hi @poypoyan, sige. I'll pull the changes. :) Sorry di ko pa naupuan ulit. Hinihintay ko na lang bakasyon and then I'll work on it.

[2020-12-31 15:11] uzzielperez commented on #107
Hi @poypoyan! Here's the temp link to the website: [Trust](https://humaninteraction.github.io/HumanInteraction/).
I plan to change the name of the website to "Tiwala" instead of HumanInteraction. :) Anyway, Merry Christmas and Happy New year to you!

[2020-12-31 15:58] poypoyan commented on #107
@uzzielperez Woah... woah😮... yeah I think "tiwala" is better. Sorry I made a little change just now. Pwede bang madagdag 'yung recent ko? Thank you, Merry Christmas, and Happy New year rin sa'yo!

[2021-01-01 16:30] uzzielperez commented on #107
Hi @poypoyan! Eto na yung bagong page! :D Sige add ko yung recent mo. Pero ito na yung page [tiwalaPH](https://tiwalaph.github.io/TiwalaPH/)

[2021-01-01 18:24] poypoyan commented on #107
@uzzielperez Thanks so much! Siguro kopyahin mo na lang yung words.html, kasi dun na lang naman ako nag-edit hahaha 😄 ~~Siguro pagkagising ko mamaya~~ saka ko ipadala sa email.

"Filipino (Tagalog)" ba 'yung ipalalagay sa README, tapos "Tagalog" naman 'yung ipalalagay sa baba?

[2021-01-08 11:46] guljemalsaparova opened #114 "Turkmen translation started"

[2021-01-12 02:13] uzzielperez commented on #107
@poypoyan, sige! Try ko this weekend :)

[2021-01-22 08:27] poypoyan commented on #107
@uzzielperez Kung marami po kayong ginagawa, paimbita na lang po ako ng akses sa TiwalaPH, para ako na lang ang mag-eedit. Thanks!

[2021-01-22 11:30] uzzielperez commented on #107
@poypoyan , inininvite na kita! Pasensya na. medyo marami nga ginagawa. :) Let me know kung may problema.

[2021-01-22 12:00] poypoyan commented on #107
@uzzielperez Thank you! Also, good luck sa mga ginagawa huhuhu...

[2021-01-26 19:14] jhapiss commented on #86
Živjo, a je kle kej napredka?

[2021-01-28 14:31] Matejko124 commented on #86
Ne odgovarjam osebam iz Osrednjega predela Slovenije.

On Tue, Jan 26, 2021 at 8:14 PM jhapiss <notifications@github.com> wrote:

[2021-01-28 15:21] jhapiss commented on #86
Kdaj računaš, da bo objavljena slovenska verzija?

[2021-01-28 19:49] Matejko124 commented on #86
Pozdravljeni,

Končan izdelek je na mojem profilu na GitHub. Uradni ni bil nikoli objavljen, ker nisem dobil odgovora od avtorja.

Hvala in LP
---
Hello,

The finished product is on my profile on GitHub. The official one was never published because I didn’t get the author’s response.

[2021-01-29 14:44] jhapiss commented on #86
Pozdravljeni,
hvala za vaš odgovor. Zdi se mi škoda, da ne bi imeli tudi slovenske verzije objavljene. Mogoče, bi bilo potrebno še enkrat vprašati.
Jaz sem na Githubu bolj nov, a je kje možno direktno stestirati vašo slovensko verzijo? Direktno v smislu, da obstaja delujoča verzija.
Lp

[2021-01-29 15:34] Matejko124 commented on #86
Pozdravljeni,

Bom kontaktiral originalnega avtorja ponovno.
Stestirate lahko tako, da prenesete mojo verzijo iz moje strani, ter vstavite mapo v lokalni strežnik. Osebno priporočam uporabo programa XAMPP.

Hvala in LP
---
Hello,

I will contact the original author again.
You can test by downloading my version from my site and inserting the folder into a local server. I personally recommend using

[2021-01-31 18:47] jhapiss commented on #86
Pozdravljeni,
sem na kratko začel prebirati vašo words.html datoteko in sem že pri prvem tehničnem prevodu opazil, da ste se zatipkali pri besedi nalaganje.
Torej za začetek, bi šel skozi take napake, me pa zanima, če dovolite, da uporabim to vašo verzijo za svoj prevod. Na primer, namesto Evolucija Zaupanja bi napisal Kako razvijemo zaupanje, ipd.
Hvala za vaš odgovor,
lp

[2021-02-16 11:10] #107 closed, assigned to nobody

[2021-02-18 17:45] jhapiss commented on #86
Živjo, vidim, da je slovenska verzija že delujoča. Bravo! Lp

[2021-02-23 05:33] Asvoria opened #115 "[Not Issue] Offline Kiosk Version [En]"
This is a modification to put the game into Raspberry Pi Kiosk mode.
The whole game is running offline in loop.
The purpose of this project is to have an interactive device to let people play this game on a touch screen. Probably while they hang around in a mall or happen to see the device installation. The demo is done with smaller touch screen, but it can be working on larger touch screen as wel

[2021-02-23 13:27] Matejko124 commented on #86
Zdravo,

Ja, sem dobil odpisano sporočilo, da je bilo posodobljeno. Lahko tudi
naredim kakršnekoli spremembe na svoji verziji, ki bodo tudi vidne na
končni strani. Če je kje kakšna večja napaka, mi prosim sporočite in bom jo
popravil.
Hvala in LP

On Thu, Feb 18, 2021 at 6:46 PM jhapiss <notifications@github.com> wrote:

[2021-03-17 22:18] niklasbazzan opened #116 "norwegian translation"
going to start this soon. feel free to join of course :)) åøåæøåæøåæøæøå

[2021-03-23 16:34] xloem commented on #87
What is the issue on mobile, for confused visitors?  Maybe I am missing something, but I'm not seeing problems in the screenshot.  Is the bluriness the issue?  This ran fine on my android phone.

[2021-03-27 18:49] tbrugz commented on #87
From my perspective there is too much margin and the text becomes too small on a mobile device. Landscape mode doesn't help much, either

[2021-05-11 01:14] JanusCahill commented on #84
Kiom multe de la traduko vi havas? Mi jxus finludis gxin, mi amegis kaj volas helpi. Kaze vi ne plu laboras en gxi, bonvolu lasi min dauxrigi aux krei mian propran tradukon ekde la komenco.

[2021-05-11 06:01] LaPingvino commented on #84
mi tute ne memoras... do volonte!

[Joop Kiefte - Chat @ Spike](https://spikenow.com/r/a/?ref=spike-organic-signature&_ts=10wt3t)	[10wt3t]

On May 11, 2021 at 1:14 GMT, JanusCahill ***@***.***> wrote:

Kiom multe de la traduko vi havas? Mi jxus finludis gxin, mi amegis kaj volas helpi. Kaze vi ne plu laboras en gxi, bonvolu lasi min dauxrigi aux krei mian propran tradukon ekde la komenco.

—
You a

[2021-05-12 01:31] JanusCahill commented on #84
Mi ĵus finigis la nepran parton de la traduko.

Jen la ligilo de mia versio:
https://github.com/JanusCahill/trust
Kaj jen la ligilo por ludi ĝin:
http://januscahill.github.io/trust/

Ankoraŭ ne festu aŭ diskonigu, mi planas fari la alian parton de la traduko kaj sendi ĝin al Nicky Case.

[2021-05-16 23:41] JanusCahill commented on #84
Okej. Ĝi estas finita. Vi povas ludi kaj diskonigi la ligilon. Jaj!

[2021-07-24 23:21] kaushiksv opened #118 "Tamil Translation"
Starting Tamil translation. Feel free to tag along :)

[2021-12-08 12:02] el-beth opened #119 "Amharic Translation"
A localization of the game into the Amharic language

[2021-12-27 11:11] siraben opened #120 "Some alt text not translated to Thai"
I couldn't locate the fork that has the Thai translation by "zero0200", but the alt-text over some buttons such as [the email button](https://github.com/ncase/trust/blob/992e5120d481edbd5cb47170d9865779281d9dcd/js/lib/sharing.js#L18) still reads "Send email" instead of a string such as "ส่งอีเมล".

[2022-01-13 12:26] TheBooker66 commented on #52
You guys still working on it or can I start over (I noticed in the main README that Hebrew isn't listed as being translated, and the last push to your repo was 5 years ago)?

[2022-01-13 16:34] TheBooker66 opened #121 "Fresh Hebrew Translation"
I started a new Hebrew translation repo because the old one has been inactive for 5 years.
I'm having problems with the hitboxes of the buttons not being on the buttons, rather to their left. I know the source is the `dir="rtl"` tag I put in the `html` element in `index.html`, but it's needed to align everything correctly. Other right to left language translations have solved this issue, but I'm u

[2022-01-14 20:08] TheBooker66 commented on #121
I've managed to fix the `rtl` issue, and have already translated half of `words.html` and all of `index.html` & `peeps/index.html`. I'll probably finish within a week.

[2022-01-15 22:05] lee-elenbaas commented on #52
feel free to do it - you are welcome to take what we started as a starting
place or do your own

On Thu, Jan 13, 2022 at 2:26 PM Ethan ***@***.***> wrote:

[2022-01-15 22:31] TheBooker66 commented on #52
Alright, I already started work on my own and got to about where you guys were. You helped me a great bit with the `dir='rtl'`, I could not get that work at all then I took a look at what you did (if I did it on the whole page it moved the button hitboxes to the wrong place). Anyway, I'm expecting to finish it in around a week, you can look at my fork than, if you want.

[2022-01-18 14:21] TheBooker66 commented on #121
I have finished translation of everything apart of notes/index.html, and I've run into one bug which I haven't been able to fix: Slides 3 to 7 just don't load (4 loads the first screen but not anything after it and 6 loads until after the character screen). I probably messed something up with the js files dealing with the tournament system as I've meddled with all the files (mostly because Hebrew

[2022-01-19 21:02] 945fc41467 opened #122 "Possibility to change speed."
Would it be possible to let the user set the speed of animations ? It look incredibly slow for me.

Good work anyway. This is a very interesting program.

[2022-02-08 23:46] Erudition commented on #82
For me it's the "eraser" effect that's slow, and only on the screens with the big interactive moving web on the outside (like the intro).

[2022-02-08 23:51] Erudition commented on #69
https://www.vqronline.org/essay/war-and-zero-sum-games

[2022-08-30 05:59] Kaapeine opened #123 "Code Overview"
Hi, can anybody who's read the whole source code help me understand the underlying structure of the game? I've followed it up to a point and I know that each "level" is a slide. But I'm having trouble understanding what exactly is going on in each slide. How is each slide actually being sent to the canvas for rendering? I'm new to JS, pixiJS and making games in general, so any pointers would be re

[2022-11-30 21:37] Ap3lsin4k opened #124 "Miscalculations for subtotal scores"
![image](https://user-images.githubusercontent.com/32039752/204913145-dbd83eeb-6c30-4b6e-a4a1-955c5d9ba597.png)
I counted `-7 vs +27`